<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74644721999-56ni997o304dc7gvd2f0fqtjv0ifo35m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74644721999-56ni997o304dc7gvd2f0fqtjv0ifo35m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>74644721999-ldvk22af7pkm5h0ro4tnhhhco0lauc01.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBfegHVqfqv-KKcgkfFEHZfXUZBgONC8o</string>
	<key>GCM_SENDER_ID</key>
	<string>74644721999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appName.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>game-42ced</string>
	<key>STORAGE_BUCKET</key>
	<string>game-42ced.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74644721999:ios:05dc662df601ed01f7b53a</string>
</dict>
</plist>